src/main/mule/implementations/register-covid-case.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
 xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
 xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
  
    <flow name="post:\cases:application\json:uhub-sapi-config"> 
  <set-variable value="#[attributes.headers.'x-correlation-id' default &quot;&quot;]" doc:name="Set correlationId" doc:id="ca471695-58a5-4a87-a1d1-f401aeeec8ec" variableName="correlationId" /> 
  <logger level="INFO" doc:name="Start Log" doc:id="1e87e4d8-7ff4-44c7-ba39-4d378530b112" message='transactionID: #[vars.transactionId]], correlationID: #[vars.correlationID], message: Started register covid case flow, payload: #[payload]' /> 
  <ee:transform doc:name="Prepare Covid Case Payload" doc:id="4f6331ec-eafb-42df-9785-fca57ff37cd4" > 
   <ee:message > 
    <ee:set-payload ><![CDATA[%dw 2.0 
output application/java 
var currentDate = now() as String { format: "yyyy-MM-dd" } 
--- 
{ 
 source: payload.source, 
 case_type: payload.caseType, 
 first_name: payload.firstName, 
 last_name: payload.lastName, 
 phone: payload.phone, 
 email: payload.email, 
 date_of_birth: payload.dateOfBirth as String { 
  format: "yyyy-MM-dd" 
 }, 
 national_id: payload.nationalID, 
 national_id_type: payload.nationalIDType, 
 street_address: payload.address.streetAddress, 
 city: payload.address.city, 
 state: upper(payload.address.state), 
 postal: payload.address.postal, 
 country: payload.address.country, 
 create_date: currentDate, 
 update_date: currentDate, 
 create_by: "UHIS", 
 update_by: "UHIS" 
} 
]]></ee:set-payload> 
   </ee:message> 
  </ee:transform> 
  <flow-ref doc:name="insert-covid-case-sub-flow" doc:id="c5a2bbb6-c0ff-426d-9dc7-990484cd237e" name="insert-covid-case-sub-flow" /> 
  <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:name="Prepare Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  caseID: payload[0].CASE_ID as String
}]]></ee:set-payload>
            </ee:message>
        </ee:transform> 
  <logger level="INFO" doc:name="End Log" doc:id="de2813eb-203b-4784-8937-146440004048" message='transactionID: #[vars.transactionId]], correlationID: #[vars.correlationID], message: Completed register covid case flow, payload: #[payload]"' />
     
</flow>
 </mule>