src/main/mule/implementations/update-covid-case.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os"
 xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
 xmlns="http://www.mulesoft.org/schema/mule/core"
 xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
 <os:object-store name="Object_store" doc:name="Object store" doc:id="4cbf949e-98ad-4568-a39d-ccd13046b7c1" maxEntries="100" entryTtl="1" entryTtlUnit="HOURS" /> 
 <flow name="put:\cases:application\json:uhub-sapi-config"> 
  <set-variable value="#[attributes.headers.'x-correlation-id' default &quot;&quot;]" doc:name="Set correlationId" doc:id="36b62644-23ee-469b-b40f-b1eaaddabed8" variableName="correlationId" /> 
  <logger level="INFO" doc:name="Start Log" doc:id="c6520b20-e263-4bd6-b35d-396459469446" message='transactionID: #[vars.transactionId]], correlationID: #[vars.correlationID], message: "Started update covid case flow", payload: #[payload]' /> 
  <ee:transform doc:name="Prepare Covid Case Payload" doc:id="a5e4aa11-fbb2-47ca-8428-9848713cc987" > 
   <ee:message > 
   </ee:message> 
   <ee:variables > 
    <ee:set-variable variableName="covidCasePayload" ><![CDATA[%dw 2.0 
output application/java 
--- 
{ 
 case_id: payload.caseID, 
 source: payload.source, 
 case_type: payload.caseType, 
 first_name: payload.firstName, 
 last_name: payload.lastName, 
 phone: payload.phone, 
 email: payload.email, 
 date_of_birth: payload.dateOfBirth as String { 
  format: "yyyy-MM-dd" 
 }, 
 national_id: payload.nationalID, 
 national_id_type: payload.nationalIDType, 
 street_address: payload.address.streetAddress, 
 city: payload.address.city, 
 state: upper(payload.address.state), 
 postal: payload.address.postal, 
 country: payload.address.country, 
 update_date: now() as String { 
  format: "yyyy-MM-dd" 
 }, 
 create_by: "UHIS", 
 update_by: "UHIS" 
} 
]]></ee:set-variable> 
   </ee:variables> 
  </ee:transform> 
  <idempotent-message-validator doc:name="Idempotent Message Validator" doc:id="76e75856-b698-46d0-a8da-bfc76e4e3402" idExpression='#[vars.covidCasePayload pluck $ joinBy  ""]' objectStore="Object_store"/> 
  <flow-ref doc:name="update-covid-case-sub-flow" doc:id="8730a382-3b07-4150-99a8-091e1b8b889b" name="update-covid-case-sub-flow" /> 
  <ee:transform doc:name="Set Success Response" doc:id="ab49b608-3935-442b-b349-5c5729b6afc2" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd"> 
   <ee:message> 
    <ee:set-payload><![CDATA[%dw 2.0 
output application/json 
--- 
if (payload.affectedRows > 0 ) { 
 caseID: vars.covidCasePayload.case_id 
} else {}]]></ee:set-payload> 
   </ee:message> 
  </ee:transform> 
  <logger level="INFO" doc:name="End Log" doc:id="528b0ad6-8de9-4d9e-9c61-5e7865dbb744" message='transactionID: #[vars.transactionId]], correlationID: #[vars.correlationID], message: "Completed update covid case flow", payload: #[payload]' /> 
  <error-handler > 
   <on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="990d155d-c279-4461-88e2-8e7bd2b33687" type="MULE:DUPLICATE_MESSAGE"> 
    <set-variable value="#[400]" doc:name="Set HTTP Status - 400" doc:id="9a35d472-427f-48fe-a419-3401cab1d09c" variableName="httpStatus" /> 
    <set-variable value="Bad request" doc:name="set Error Message" doc:id="e04c92d1-6332-4ebf-a0d8-5b259c0356c0" variableName="errorMessage" /> 
    <set-variable value='#["Duplicate request received"]' doc:name="Set Error Description" doc:id="4848b59f-1321-4dd0-a870-5a8a0c028387"
variableName="errorDescription"/> 
    <flow-ref doc:name="global-prepare-error-response-sub-flow" doc:id="ba843f78-a9c4-47ca-8b4a-dd671f4fd10c" name="global-prepare-error-response-sub-flow" /> 
   </on-error-continue> 
  </error-handler>
     
</flow>
 </mule>